@use '@styles/helpers';

.userPost {
  display: flex;
  flex-direction: column;
  background: helpers.color-primary(dark);
  border-radius: var(--border-radius);

  padding: 10px;

  & > .title {
    line-height: 17px;
    margin-bottom: 5px;
  }

  & > .body {
    line-height: 17px;
    color: helpers.color-foreground(80);
  }
}
